name: Testing

on:
  push:
    branches: [ master ]
  release:
    types:
      - published
        
jobs:

  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    
    steps:
      - name: Test Reporter    
        uses: dorny/test-reporter@v1.5.0
        with:
           name: Javascript Test 
           path: .
           reporter: all 
    
